//Este es un archivo de ejemplo para las variables de entorno del servidor. Se debe copiar este archivo a .env y luego editar las variables según sea necesario.
// las variables de entorno se pueden usar en el código del servidor a través de process.env.VARIABLE_NAME
// sirven para configurar el servidor sin tener que cambiar el código, por ejemplo, para cambiar el puerto en el que corre el servidor o la URL del cliente

NODE_ENV=development // esto es para indicar que estamos en desarrollo, se puede cambiar a production para producción
PORT=4000 // este es el puerto en el que correrá el servidor
API_PREFIX=/api // este es el prefijo que se usará para las rutas de la API
CLIENT_URL=http://localhost:4200 // esta es la URL del cliente